body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh; /* Adjust the height as needed */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header {
    background-color: royalblue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

p {
    color:black;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.main_flexbox {
    width: 100%;
    border:black;
    box-sizing: border-box;
}

.sub_flexbox {
    display: flex;
    border:red;
    flex-direction: row;
    justify-content: space-between;
    /* height: 50%; Adjust the height as needed */
    width: 100%;
}

.new_quiz_box {
    flex: 1;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    height: 500px;
    width: 1200px;
    box-sizing: border-box;
    border: 10px solid blue;
    background-color: white;
}
.new_quiz_card{
    height: 300px;
    width: 500px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    border-radius: 10%;
}

.navbar{
    padding-right: 50px;
}

#quiz_bank{
    background-color:white;
    height: 800px;
    width: width("sub_flexbox");
    border: 10px solid red;
    padding: 20px;
}

#new_quiz_plus{
    font-size: 200px;
    color: white;
    margin: 0 auto;
}

#new_quiz_text{
    font-size: 30px;
    color: white;
    margin: 0 auto;
}